@keyframes fadeInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fadeInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fadeInBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes bounceLeft {
  0% {
    transform: translate(-200rem, -50%);
    opacity: 0; }
  70% {
    transform: translate(0.5rem, -50%);
    opacity: 0.8; }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1; } }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 4rem; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 4rem; }

.heading-primary--main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  display: block;
  animation: fadeInLeft 1s ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1.75rem;
  animation: fadeInRight 1s ease-out; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 0.2rem;
  transition: all 0.2s ease-out; }

.heading-secondary:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: scale(1.1) skewX(15deg) rotateY(2deg); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.mb-sm {
  margin-bottom: 1.5rem !important; }

.mb-md {
  margin-bottom: 3rem !important; }

.mt-md {
  margin-top: 3rem !important; }

.mb-lg {
  margin-bottom: 6rem !important; }

.mb-xl {
  margin-bottom: 6rem !important; }

.text-center {
  text-align: center !important; }

.btn:where(button), .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  color: #777;
  border-radius: 10rem;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
  border: none; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -10;
  transition: 0.4s all; }

.btn--animated {
  animation: fadeInBottom 1s 0.5s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff !important;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  color: #55c57a;
  font-size: 1.6rem;
  border-bottom: solid 0.1rem #55c57a;
  transition: 0.3s all;
  display: inline-block;
  padding: 0.3rem; }

.btn-text:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  background-color: #55c57a;
  color: #fff; }

.btn-text:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #55c57a;
  color: #fff; }

.gallery {
  position: relative; }

.gallery__img {
  max-width: 55%;
  transition: all 0.3s;
  position: absolute;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem; }
  .gallery__img--1 {
    top: -2rem;
    left: 0; }
  .gallery__img--2 {
    top: 2rem;
    right: 0; }
  .gallery__img--3 {
    top: 10rem;
    left: 20%; }
  .gallery__img:hover {
    box-shadow: 0 3rem 8rem rgba(0, 0, 0, 0.4);
    z-index: 100;
    transform: scale(1.1);
    outline: 1.4rem solid #55c57a;
    outline-offset: 2rem; }

.gallery:hover .gallery__img:not(:hover) {
  transform: scale(0.9); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col-1-of-1 {
    width: calc( (((100% - 6rem* (1 - 1)) / 1) * 1) + ((6rem* (1 - 1)))); }
  .row .col-1-of-2 {
    width: calc( (((100% - 6rem* (2 - 1)) / 2) * 1) + ((6rem* (1 - 1)))); }
  .row .col-1-of-3 {
    width: calc( (((100% - 6rem* (3 - 1)) / 3) * 1) + ((6rem* (1 - 1)))); }
  .row .col-1-of-4 {
    width: calc( (((100% - 6rem* (4 - 1)) / 4) * 1) + ((6rem* (1 - 1)))); }
  .row .col-2-of-1 {
    width: calc( (((100% - 6rem* (1 - 1)) / 1) * 2) + ((6rem* (2 - 1)))); }
  .row .col-2-of-2 {
    width: calc( (((100% - 6rem* (2 - 1)) / 2) * 2) + ((6rem* (2 - 1)))); }
  .row .col-2-of-3 {
    width: calc( (((100% - 6rem* (3 - 1)) / 3) * 2) + ((6rem* (2 - 1)))); }
  .row .col-2-of-4 {
    width: calc( (((100% - 6rem* (4 - 1)) / 4) * 2) + ((6rem* (2 - 1)))); }
  .row .col-3-of-1 {
    width: calc( (((100% - 6rem* (1 - 1)) / 1) * 3) + ((6rem* (3 - 1)))); }
  .row .col-3-of-2 {
    width: calc( (((100% - 6rem* (2 - 1)) / 2) * 3) + ((6rem* (3 - 1)))); }
  .row .col-3-of-3 {
    width: calc( (((100% - 6rem* (3 - 1)) / 3) * 3) + ((6rem* (3 - 1)))); }
  .row .col-3-of-4 {
    width: calc( (((100% - 6rem* (4 - 1)) / 4) * 3) + ((6rem* (3 - 1)))); }
  .row .col-4-of-1 {
    width: calc( (((100% - 6rem* (1 - 1)) / 1) * 4) + ((6rem* (4 - 1)))); }
  .row .col-4-of-2 {
    width: calc( (((100% - 6rem* (2 - 1)) / 2) * 4) + ((6rem* (4 - 1)))); }
  .row .col-4-of-3 {
    width: calc( (((100% - 6rem* (3 - 1)) / 3) * 4) + ((6rem* (4 - 1)))); }
  .row .col-4-of-4 {
    width: calc( (((100% - 6rem* (4 - 1)) / 4) * 4) + ((6rem* (4 - 1)))); }
  .row [class^="col"] {
    float: left; }
    .row [class^="col"]:not(:last-child) {
      margin-right: 6rem; }
  .row:after {
    content: "";
    clear: both;
    display: table; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.3rem;
  padding: 3rem;
  text-align: center;
  font-size: 1.5rem;
  transition: transform 0.3s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.feature-box:hover {
  transform: translateY(-0.3rem) scale(1.03); }

.feature-box__icon {
  font-size: 6rem;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

.card {
  height: 52rem;
  position: relative;
  perspective: 150rem;
  background-color: transparent; }

.card__side {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: absolute;
  font-size: 2rem;
  height: 100%;
  border-radius: 0.3rem;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.8s ease;
  backface-visibility: hidden; }
  .card__side--face {
    background-color: #fff; }
  .card__side--back {
    transform: rotateY(180deg);
    z-index: -2; }
    .card__side--back-primary {
      background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
    .card__side--back-secondary {
      background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
    .card__side--back-tertiary {
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }

.card:hover .card__side--face {
  transform: rotateY(-180deg); }

.card:hover .card__side--back {
  transform: rotateY(0deg); }

.card__img {
  height: 23rem;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-blend-mode: screen; }
  .card__img--primary {
    background-image: url("../img/nat-5.jpg"), linear-gradient(to bottom right, #7ed56f, #28b485); }
  .card__img--secondary {
    background-image: url("../img/nat-5.jpg"), linear-gradient(to bottom right, #ffb900, #ff7730); }
  .card__img--tertiary {
    background-image: url("../img/nat-5.jpg"), linear-gradient(to bottom right, #2998ff, #5643fa); }

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  width: 75%;
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 2rem;
  top: 12rem; }
  .card__heading > span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
  .card__heading--primary span {
    background: linear-gradient(to bottom right, rgba(126, 213, 111, 0.85), #28b485); }
  .card__heading--secondary span {
    background: linear-gradient(to bottom right, rgba(255, 185, 0, 0.85), #ff7730); }
  .card__heading--tertiary span {
    background: linear-gradient(to bottom right, rgba(41, 152, 255, 0.85), #5643fa); }

.card__details ul {
  list-style: none;
  width: 80%;
  margin: auto auto 0;
  font-size: 1.6rem;
  text-align: center;
  padding: 3rem; }
  .card__details ul li {
    padding: 1rem 0; }
    .card__details ul li:not(:last-child) {
      border-bottom: 0.1rem solid #eee; }

.card .cta {
  transform: translateY(50%);
  text-align: center;
  color: #fff; }
  .card .cta__only {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card .cta__price {
    font-size: 6rem;
    font-weight: 100; }

.story {
  max-width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transform: skewX(-10deg);
  padding: 6rem 8rem 5rem;
  text-align: initial;
  border-radius: 0.3rem; }
  .story:after {
    content: "";
    clear: both;
    display: table; }

.story__container {
  padding: 15rem 0; }

.story:not(:last-child) {
  margin-bottom: 6rem; }

.story:hover .story__img {
  filter: blur(2px);
  transform: scale(1); }

.story:hover .story__shape::after {
  opacity: 1; }

.story:hover .story__caption {
  top: 50%;
  opacity: 1; }

.story > * {
  transform: skewX(10deg); }

.story__shape {
  float: left;
  position: relative;
  width: 15rem;
  overflow: hidden;
  height: 15rem;
  border-radius: 50%;
  margin-right: 3rem;
  shape-outside: circle(50%); }
  .story__shape::after {
    content: "";
    position: absolute;
    transition: all 0.8s;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0; }

.story__img {
  position: absolute;
  transition: all 0.3s;
  left: 0;
  width: 100%;
  display: block;
  height: 100%;
  top: 0;
  object-fit: cover;
  transform: scale(1.3); }

.story__caption {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 60%;
  transition: all 0.5s ease;
  transform: translateY(-0.5rem);
  opacity: 0;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.8rem;
  z-index: 100; }

.story__text {
  margin-left: 4rem; }

.video__container {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.15;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -10; }

.video__bg {
  height: 100%; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__group--radio {
  display: inline-block;
  width: 45%;
  padding-left: 4rem; }
  .form__group--radio label {
    text-transform: capitalize;
    cursor: pointer; }
    .form__group--radio label span {
      display: block;
      position: relative;
      left: -4rem;
      top: 3rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 0.5rem solid #28b485; }
    .form__group--radio label span::after {
      position: absolute;
      content: "";
      width: 1.3rem;
      height: 1.3rem;
      background-color: #28b485;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 0.3s; }
  .form__group--radio input {
    display: none; }
  .form__group--radio input:checked + label > span::after {
    opacity: 1; }

.form__input {
  display: block;
  width: 90%;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: inherit;
  font-family: inherit;
  border: none;
  border-radius: 3px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s; }
  .form__input:focus {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    outline: 0; }
    .form__input:focus:invalid {
      border-color: #ff7730; }
    .form__input:focus:valid {
      border-color: #28b485; }
  .form__input::placeholder {
    text-transform: capitalize;
    color: #777; }

.form__label {
  color: #777;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-left: 2rem;
  margin-top: 1rem;
  transition: all 0.3s;
  display: block; }

.form__input:placeholder-shown + .form__label {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-4rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 9rem;
    left: 9rem; }
  .header__logo {
    height: 4rem; }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #28b485;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }

.nav__btn {
  position: fixed;
  right: 6rem;
  width: 7rem;
  top: 6rem;
  height: 7rem;
  z-index: 1000; }
  .nav__btn:hover .nav__dash::after {
    top: -1rem; }
  .nav__btn:hover .nav__dash::before {
    top: 1rem; }

.nav__checkbox {
  display: none; }
  .nav__checkbox:checked ~ .nav__bg {
    transform: scale(100); }
  .nav__checkbox:checked ~ .navigation {
    animation: bounceLeft 1s 0.3s ease-out both; }
  .nav__checkbox:checked + .nav__label > .nav__dash {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__label > .nav__dash::after {
    transform: rotateZ(135deg);
    top: 0;
    transform-origin: 50% 50%; }
  .nav__checkbox:checked + .nav__label > .nav__dash::before {
    transform: rotateZ(-135deg);
    top: 0;
    transform-origin: 50% 50%; }

.nav__label {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }

.nav__dash {
  position: absolute;
  background-color: #000;
  width: 3rem;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s; }
  .nav__dash::after, .nav__dash::before {
    content: "";
    transition: all 0.3s;
    background-color: #000;
    width: 3rem;
    height: 2px;
    display: block;
    position: absolute; }
  .nav__dash::after {
    top: -0.8rem; }
  .nav__dash::before {
    top: 0.8rem; }

.nav__bg {
  z-index: 100;
  background: radial-gradient(#7ed56f, #28b485);
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%; }

.navigation {
  position: fixed;
  z-index: 2600;
  top: 50%;
  left: 50%;
  transform: translate(-200rem, -50%);
  opacity: 0; }

.navigation__list {
  list-style: none;
  text-align: center; }

.navigation__item {
  transition: all 0.5s;
  background-size: 400%;
  padding: 1rem 1.5rem;
  color: #fff;
  background-image: linear-gradient(135deg, transparent 50%, #fff 50%, #fff 100%);
  background-position: 0%; }
  .navigation__item:hover {
    background-position: 100%;
    transform: translateX(1rem);
    color: #7ed56f; }
  .navigation__item:not(:last-child) {
    margin-bottom: 2rem; }

.navigation__link {
  color: inherit;
  font-size: 3.5rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase; }
  .navigation__link span {
    margin-right: 1rem; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }

.popup__content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75%;
  transition: all 0.4s 0.2s;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 3px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: table;
  overflow: hidden; }

.popup__left {
  vertical-align: middle;
  width: 33.3333%;
  display: table-cell; }

.popup__right {
  vertical-align: middle;
  width: 66.6667%;
  display: table-cell;
  padding: 3rem 5rem; }

.popup__img {
  width: 100%;
  height: 50%;
  display: block; }

.popup__text {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  column-count: 2;
  column-gap: 4rem;
  hyphens: auto;
  column-rule: 1px solid #eee; }

.popup:target {
  opacity: 1;
  visibility: visible; }

.popup:target .popup__content {
  transform: translate(-50%, -50%) scale(1); }

.popup__link:link, .popup__link:visited {
  text-decoration: none;
  font-size: 3rem;
  color: #333;
  position: absolute;
  right: 3rem;
  top: 3rem;
  line-height: 1;
  transition: all 0.3s; }

.popup__link:hover {
  color: #28b485; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.about__info {
  text-align: initial; }
  .about__info-box:not(:last-child) {
    margin-bottom: 3rem; }
  .about__info-paragraph {
    font-size: 1.6rem; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  transform: skewY(-7deg);
  margin-top: -12vh; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 25rem 0 10rem;
  background-color: #f7f7f7;
  margin-top: -12vh;
  text-align: center; }

.section-stories {
  position: relative;
  left: 0;
  top: 0; }

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }

.book__form {
  width: 50%;
  padding: 6rem; }
