$color-light-green: #7ed56f;
$color-medium-green: #55c57a;
$color-dark-green: #28b485;

$color-medium-gray: #777;
$color-gray-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

$horizontal-gutter: 6rem;
$vertical-gutter: 8rem;
