.row {
  max-width: 114rem;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $vertical-gutter;
    @include respond(tablet-port) {
      margin-bottom: $vertical-gutter-small;
      margin-right: auto;
    }
  }

  @include respond(tablet-port) {
    padding: 0 2rem;
  }

  @for $x from 1 through 4 {
    @for $y from 1 through 4 {
      .col-#{$x}-of-#{$y} {
        width: calc(
          (((100% - #{$horizontal-gutter}* (#{$y} - 1)) / #{$y}) * #{$x}) +
            ((#{$horizontal-gutter}* (#{$x} - 1)))
        );
      }
    }
  }

  [class^="col"] {
    float: left;
    &:not(:last-child) {
      margin-right: $horizontal-gutter;

      @include respond(tablet-port) {
        margin-right: auto;
        margin-bottom: $horizontal-gutter;
      }
    }
    @include respond(tablet-port) {
      float: none;
    }

    @include respond(tablet-port) {
      width: 100% !important;
    }
  }
  @include clearfix;
}
