@keyframes fadeInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounceLeft {
  0% {
    transform: translate(-200rem, -50%);
    opacity: 0;
  }
  70% {
    transform: translate(0.5rem, -50%);

    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
