* {
  &,
  &::after,
  &::before {
    @include reset-default-values();
  }
}

html {
  font-size: 62.5%;

  @include respond(tablet-landscape) {
    font-size: 56.25%;
  }

  @include respond(tablet-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 47.5%;
  }

  @include respond(big-desktop) {
    font-size: 70%;
  }
}

body {
  box-sizing: border-box;
  padding: 4rem;
}
