.mb-sm {
  margin-bottom: 1.5rem !important;
}

.mb-md {
  margin-bottom: 3rem !important;
}

.mt-md {
  margin-top: 3rem !important;
}
.mb-lg {
  margin-bottom: 6rem !important;
}

.mb-xl {
  margin-bottom: 6rem !important;
}

.text-center {
  text-align: center !important;
}
